:root {
  --first-title-color: #ffffff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --first-btn-color: #ffffff;
  --secondary-btn-color: #303030;

  --typical-margin: 20px;
  --title-margin: 44px;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  min-height: 40px;

  padding: 12px 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  cursor: pointer;
  border: none;
}

.vissually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid orange;
}

.networks {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.pre-title {
  display: flex;
  align-items: center;
  gap: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;

  background-color: currentColor;
}

/* =====================HEADER================================= */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--secondary-title-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 131px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-connect {
  margin-left: auto;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--first-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-phone {
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--first-title-color);
}

.header-button {
  margin-left: 40px;
  /* font-family important! */
  color: var(--first-btn-color);
}

/* =======================HERO================================= */
/* .hero {
   background-color: #303030; 
} */

.hero-container {
  display: flex;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-title-color);
  letter-spacing: 0.2em;
}

.hero-content {
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
  background-color: #8c8888;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../img/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-pre-title {
  margin-bottom: var(--typical-margin);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--first-title-color);
}

.hero-title:hover::before {
  content: '';
}
.hero-after-title {
  /* write 360 not 357 */
  max-width: 360px;

  /* in brouser default fw400 */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* ===================ABOUT=================================== */

/* .about {} */
/* .about-list {}
.list {}
.about-link {} */

.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}

.about-content {
  max-width: 470px;
}
.about-pre-title {
  margin-bottom: var(--typical-margin);
  color: #303030;
}
.about-title {
  margin-bottom: var(--typical-margin);

  color: var(--secondary-title-color);
}

.about-after-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #555555;
}

.about-text {
  margin-bottom: 42px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: #555555;
}
.about-button {
  color: var(--secondary-title-color);
}

/* ==================PRICES==================================== */
.prices {
  max-width: 1600px;
  margin: 0 auto;
  background-color: rgba(17, 19, 25, 1);
  background-image: url(../img/prices.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.prices-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;

  color: var(--first-title-color);
}

.prices-wrap {
  display: flex;
  /* gap: 30px; */
  justify-content: space-between;
  margin-bottom: 44px;
}

.prices-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item::before {
  content: '';
  display: flex;
  margin-right: 12px;
  margin-left: 12px;
  width: 100%;
  height: 1px;
  flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  /* flex-shrink: 0; */
  flex-shrink: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-button {
  /* m0auto only for block */
  display: block;
  margin: 0 auto;

  color: var(--first-btn-color);
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* ======================== BENEFITS =================================== */
.benefits-container {
  display: flex;
  padding-left: 100px;
  gap: 130px;
  align-items: baseline;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin-right: -15px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  text-align: center;
  margin-right: 15px;
}

/* .benefits-item:nth-child(3n + 1){
  margin-right: 30px;
} */

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;

  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-item span::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  display: inline-block;
  vertical-align: top;

  color: #ff6c00;
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

/* .benefits-content {} */

.benefits-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: #303030;
}
.benefits-title {
  margin-bottom: var(--typical-margin);

  color: #303030;
}

.benefits-after-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #555555;
}

/* ================= BARBERS ==================================== */
.barbers{
  background: #F7F7F7;
}
.barbers-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: #303030;
}

.barbers-title {
  margin-bottom: var(--title-margin);

  color: #303030;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.barbers-content {
  padding: 30px;
}

.barbers-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.barbers-item-title {
  margin-bottom: 8px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}

.barbers-item-text {
  margin-bottom: 30px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  background-color: #ff6c00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.barbers-soc-link:hover {
  background-color: black;
  fill: coral;
}

/* .barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: black;
}
.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon {
  fill: coral;
} */

/* ==================== GALLERY ================================= */
/* 
.section {}
.barba {} 
*/

.gallery-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: var(--secondary-btn-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
}
/* 
.barba-list {}

.barba-item {} */

/* ================BOOKING==================================== */
.contact-wrap {
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  max-width: 1600px;
  margin: 0 auto;
}
.wrap-container {
  display: flex;
  justify-content: space-between;
}

.online {
  flex-basis: calc((100% - 30px) / 2);
}

.online-title {
  color: var(--first-title-color);
}
/* ================CONTACTS=================================== */

.contacts {
  flex-basis: calc((100% - 30px) / 2);
  padding-left: 100px;
}

.contacts-title {
  margin-bottom: 40px;

  color: var(--first-title-color);
}
.contacts-address {
  margin-bottom: 70px;
}

.contacts-address-map {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* .contacts-address-list {}*/
.contacts-address-item:not(:last-child) {
  margin-bottom: var(--typical-margin);
}

.contacts-address-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  /* identical to box height, or 167% */

  letter-spacing: 0.02em;

  color: #9da4bd;
}
.contacts-subtitle {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: #ffffff;
}

.contacts-schedule {
  margin-bottom: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* ==============FOOTER======================================= */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;

  background-color: currentColor;
}
/* .footer-item {}  */

.footer-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: var(--secondary-title-color);
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}
