:root {
  --first-title-color: #ffffff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --first-btn-color: #ffffff;
  --secondary-btn-color: #303030;

  --typical-margin: 20px;
  --title-margin: 44px;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.vissually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid orange;
}

.networks {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

/* =====================HEADER================================= */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--secondary-title-color);
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--first-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-phone {
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--first-title-color);
}

.header-button {
  /* font-family important! */
  color: var(--first-btn-color);
}

/* =======================HERO================================= */
.hero {
  background-color: #303030;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
}

.hero-content {
  padding: 272px 100px 208px 100px;
}

.hero-pre-title {
  margin-bottom: var(--typical-margin);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--first-title-color);
}
.hero-after-title {
  /* write 360 not 357 */
  max-width: 360px;

  /* in brouser default fw400 */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* ===================ABOUT=================================== */

/* .about {} */
/* .about-list {}
.list {}
.about-link {} */

.about-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;

  color: #303030;
}
.about-title {
  margin-bottom: var(--typical-margin);

  color: var(--secondary-title-color);
}

.about-after-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #555555;
}

.about-text {
  margin-bottom: 42px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: #555555;
}
.about-button {
  color: var(--secondary-title-color);
}

/* ==================PRICES==================================== */
/* .prices {} */
.prices-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  margin-bottom: 44px;

  color: var(--first-title-color);
}

.prices-list {
  padding: 30px 20px;

  outline: 1px dotted orange;
}

.prices-item:not(:last-child) {
  margin-bottom: var(--typical-margin);
}

.prices-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.prices-button {
  /* m0auto only for block */
  display: block;
  margin: 0 auto;

  color: var(--first-title-color);
}

/* =======BENEFITS=================================== */

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  text-align: center;

  border: 1px dotted orange;
}
/* .benefits {
}
.benefits-list {
}
.list {
} */
.benefits-item span {
  display: block;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);

  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}
.benefits-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;

  color: #303030;
}
.benefits-title {
  margin-bottom: var(--typical-margin);

  color: #303030;
}

.benefits-after-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #555555;
}

/* =================BARBERS==================================== */

.barbers-pre-title {
  margin-bottom: var(--typical-margin);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;

  color: #303030;
}

.barbers-title {
  margin-bottom: var(--title-margin);

  color: #303030;
}
/* .barbers-list {} */

/* .barbers-item {} */
.barbers-content {
  padding: 30px;
}

.barbers-item-title {
  margin-bottom: 8px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;
}

.barbers-item-text {
  margin-bottom: 30px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* ====================BARBA================================= */
/* 
.section {}
.barba {} 
*/

.gallery-pre-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;

  color: var(--secondary-btn-color);
}

/* 
.barba-list {}

.barba-item {} */

/* ================BOOKING==================================== */
.contact-wrap {
  background: #191c26;
}

.online-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
/* ================CONTACTS=================================== */

/* .section {}
.contacts {} */

.contacts-title {
  margin-bottom: 40px;

  color: var(--first-title-color);
}
.contacts-address {
  margin-bottom: 70px;
}

.contacts-address-map {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* .contacts-address-list {}*/
.contacts-address-item:not(last:child) {
  margin-bottom: 20px;
}

.contacts-address-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  letter-spacing: 0.02em;

  color: #9da4bd;
}
.contacts-subtitle {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.contacts-schedule {
  margin-bottom: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* ==============FOOTER======================================= */

/* .footer {} */

.footer-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.2em;

  color: #9da4bd;
}

/* .footer-list {} */

/* .footer-item {}  */

/* .footer-link {} */
