.btn {
    min-width: 134px;
    height: 40px;
    cursor: pointer;
    border: none;

    font-family: inherit;
    @include fonts(600, 14, 1.29, 0.04em);
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: transparent;

    @include transition ();
    transition-property: color, background-color;
    &:focus,
    &:hover {
            background-color: $accent-color;
            color: $first-title-color;
        }
}

.btn--color-light {
    color: $first-btn-color;
}
.btn--color-dark {
    color: $secondary-btn-color;
}

