.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
  @include mobile {
    width: 480px;
    background-color: violet;
  }
  @include tablet {
    width: 720px;
    background-color: blue;
  }
  @include desktop {
    width: 1200px;

    background-color: green;
  }

}