.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;

    @media screen and (max-width:733px) {
        width: 320px;
    }

    @include tablet {
        width: 734px;
    }

    @include desktop {
        width: 1280px;
    }
}