.section {
    padding-top: px;
    padding-bottom: px;
    @include tablet {
        padding-top: px;
        padding-bottom: px;
    }
    @include desktop {
        padding-top: px;
        padding-bottom: px;
    }
}