p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
    display: block;
    font-family: inherit;
}

a {
    color: inherit;
}

address {
    font-style: normal;
}

img {
    display: block;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    display: inline-block;
}
