
// font-family: 'Roboto', sans-serif;
// font-family: 'Seymour One', sans-serif;
 
 
 $acсent-color: #F8D24E;

 $header-menu-text: #FFFFFF;


 
//  $header-menu-text-hover: 
//  $header-btn-text: 
//  $header-hover-btn:

//  $text-light: 
//  $text-dark: 
//  $text-acсent: 
//  $text-pre-title:

// background
 $hero-background: #84A178; 
// products
 $products-icecream-background: #AEC6A5;
 $products-icecoffe-background: #EFD478;
 $products-milkshakes-background: #D6936D;
//  
 $about-background: #84A178;
 $advantages-background: #84A178;
 $reviews-background-color: #84A178;
 $contacts-background: #84A178;


