.prices {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(17, 19, 25, 1);
    background-image: url(../img/prices.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.prices__pre-title {
    margin-bottom: $typical-margin;
}

.prices__title {
    margin-bottom: 44px;

    color: $first-title-color;
}

.prices__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.table-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
    &:first-child {
            background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
        }
        &:last-child {
            background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
        }
}

.table-list__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &::before {
            content: '';
            display: flex;
            margin-right: 12px;
            margin-left: 12px;
            width: 100%;
            height: 1px;
            flex-grow: 1;
            background: rgba(157, 164, 189, 0.12);
        }
    &:last-child {
        margin-bottom: 0;
    }
}

.table-list__item-text {
    flex-shrink: 0;
    color: #9da4bd;

    &:first-child {
            order: -1;
        }
}

.prices__button {
    display: block;
    margin: 0 auto;
}